body{
    background-image: url('./cover.jpg');
}


table,tr,td,th{
    border:1px solid black;
    text-align: center;
    border-collapse: collapse;
}

th{
    background:red;
    color: white;
}

th,tr{
    width:300px;
    height:50px;
    
}

tr{
    background:white;
}

h1{
    margin-left:45.5%;
    color:white;

}

table{
    margin-top:100px;
    margin-left: 21%;

}